
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
 
}
.container-quotebox{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 40vh;
}

.card{
  max-width: 80%;
  max-height: 400px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.3);
  padding-left: 5px;
  padding-right: 5px;
}
.card .section1{
padding-top: 20px;
}
.card .section1 i{
  font-size: 30px;
  padding-right: 10px;
}
.card .section2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 15px;
  margin-top: 20px;
}
.card button{
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  color: #ffffff;
  box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.3);
}